<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jee.young.androidtrainingdemo" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/girl_5"
        android:label="AndroidStudioDemo"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartupActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/main_activity_name" >
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jee.young.androidtrainingdemo.MainActivity" />
        </activity>
        <activity
            android:name=".ActivityA"
            android:label="@string/title_activity_"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".ActivityB"
            android:label="@string/title_activity_activity_b" >
        </activity>
        <activity
            android:name=".ActivityC"
            android:label="@string/title_activity_activity_c" >
        </activity>
        <activity
            android:name=".DialogActivity"
            android:label="@string/title_activity_dialog"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".CreateFragmentActivity"
            android:label="@string/title_activity_create_fragment" >
        </activity>
        <activity
            android:name=".CapturePhotoActivity"
            android:label="@string/title_activity_capture_photo" >
        </activity>
        <activity
            android:name=".GetGalleryImageActivity"
            android:label="@string/title_activity_get_gallery_image" >
        </activity>
        <activity
            android:name=".PrintPhotoActivity"
            android:label="@string/title_activity_print_photo" >
        </activity>
        <activity
            android:name=".AnimationMainActivity"
            android:label="@string/title_activity_animation_main" >
        </activity>
        <activity
            android:name=".CrossfadeActivity"
            android:label="@string/title_activity_crossfade" >
        </activity>
        <activity
            android:name=".CardFlipActivity"
            android:label="@string/title_activity_card_flip" >
        </activity>
        <activity
            android:name=".LayoutChangeActivity"
            android:label="@string/title_activity_layout_change" >
        </activity>
        <activity
            android:name=".NetworkDemoActivity"
            android:label="@string/title_activity_network_demo" >
        </activity>
        <activity
            android:name=".NetworkSettingsActivity"
            android:label="@string/title_activity_network_settings" >
        </activity>
        <activity
            android:name=".ShareActionActivity"
            android:label="@string/title_activity_share_action" >
        </activity>

        <provider
            android:name=".content.AssetProvider"
            android:authorities="jee.young.androidtrainingdemo"
            android:grantUriPermissions="true" />

        <activity
            android:name=".ActionBarListPopUPActivity"
            android:label="@string/title_activity_action_bar_list_pop_up" >
        </activity>
    </application>

</manifest>
